.course img{
    width:224px;
     height:104px;
}

@media(min-width:992px){

    .course{
        box-shadow:1px 11px 6px 4px rgba(0,0,0,0.21);
        border-radius: 5%;
    }
    .course img{
        width: 100%;
        height: auto;

    }
}