
.img-fluid{
    width: 50%;
    height: auto;
}

    .course{
        width: 350px;
        
       
    }

@media(min-width:992px){
.img-fluid{
    width: 100%;
    height: auto; 
}
    .course{
        box-shadow:1px 11px 6px 4px rgba(0,0,0,0.21);
        border-radius: 5%;
    }
}